body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
            margin: 0;
        }
        .calculator {
            background-color: #e0f7fa;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 500px;
            box-sizing: border-box;
            text-align: center;
        }
        .display {
            width: 100%;
            height: 50px;
            background-color: #0288d1;
            color: #fff;
            text-align: right;
            padding: 10px;
            font-size: 24px;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .buttons {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        .buttons button {
            padding: 10px;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            background-color: #b3e5fc;
            cursor: pointer;
            transition: background-color 0.3s;
            flex: 1;
            margin: 0 5px;
        }
        .buttons button.active {
            background-color: #00ff00;
        }
        .buttons button:hover {
            background-color: #81d4fa;
        }
        #graph {
            margin-top: 10px;
            width: 100%;
            height: 400px;
            background-color: #fff;
            border-radius: 12px;
            position: relative;
        }
        .axis {
            stroke-width: 2;
        }
        .axis.x {
            stroke: #ff0000;
        }
        .axis.y {
            stroke: #00ff00;
        }
        .axis.z {
            stroke: #0000ff;
        }
        .graph-line {
            stroke: #ff0000;
            stroke-width: 2;
        }
        @media (max-width: 600px) {
            .buttons button {
                padding: 15px;
                font-size: 16px;
            }
            .display {
                height: 40px;
                font-size: 20px;
            }
        }
        .operation-button {
            background-color: #0288d1;
            color: #fff;
        }
        .clear-button {
            background-color: #d32f2f;
            color: #fff;
        }
        .equals-button {
            background-color: blue;
            color: white;
            transition: .6s linear; 
            margin-top: 5px;
            border-radius: 12px;
        }
        #function-input {
            width: 97%; 
        }
